.content {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.row {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}

.column {
  flex-basis: calc(100% / 3);
  max-width: calc(100% / 3);
}
